.item-box{
    width: 19.578%;
    display: inline-table;
    border-radius: 1rem;
    margin-left: 1px;
}
.item-box img{
    height: 10rem;
    margin-left: 15%;
    margin-top: 5%;
}
.item-box:hover{
    background-color: darkgray;
}