.category-buttons{
    display: inline-table;
}
.category-buttons button{
    border-radius: 2rem;
    background-color: inherit;
    color: inherit;
    border-style: outset;
}
.category-buttons .active{
    background-color: gray;
}