* {
    box-sizing: content-box;
    user-select:none;
}

body {
    margin: 0;
}

.navbar {
    background-color: #444;
    color: lightblue;
    display: flex;
    justify-content: space-between;   
    align-items: stretch;
    padding: 0 1rem;
    gap: 2rem;
}

.navbar li a {
    color: inherit;
    text-decoration: none;
                
    padding: 0.25rem;
    display: flex;   
    height: 70%;
    align-items: center;
    border: black solid 0.2rem;
    border-radius: 2rem;
}

.navbar ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 2rem;
}


.navbar li.active button {
    border-top-color: white;
    border-left-color: white;
}

.navbar li a:hover {
    background-color: #999;
}

.navbar input{
    margin-top: 0.6rem;
    padding: 0.3rem;
}

.navbar button{
    margin-top: 0.3rem;
    border-radius: 2rem;
    background-color: inherit;
    color: white;
    border-style: outset;
    margin-bottom: 0rem;
}

.navbar button:hover{
    border-top-color: gray;
    border-left-color: gray;
    border-radius: 2rem;
}

.navbar img{
    height: 1.2rem;
    /* margin-bottom: 3px; */
}
.logo{
    max-width: 100%;
    min-height: 3rem;
    align-self: center;
    vertical-align: middle;
}
.darkmode{
    margin-top: 0.6rem;
    margin-right: 1rem;
}