.item-box{
    /* width: 19.578%; */
    display: inline-table;
    /* border-radius: 1rem; */
    margin-left: 1px;
    background-color: rgba(100, 80, 100,0.5);
    border-radius: 1rem;
    text-shadow: 1px 1px 2px black;
}
.item-box img{
    height: 10rem;
    /* margin-left: 15%; */
    margin-top: 5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* width: 50%; */
}
.item-box:hover{
    background-color: rgba(123, 50, 101, 0.5);
}
.item-box h3{
    text-align: center;
}
.item-box h5{
    text-align: center;
}
.block {
    display: block;
    width: 100%;
    background-color: rgba(100, 0, 100);
    color: white;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    border-radius: 1rem;
  }
  .block:hover{
    background-color: rgba(123, 50, 101);
    color: white;
  }